@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

   
body {
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	background: white;
	padding: 5px;
	font-family: Georgia, Times, 'Times New Roman', serif;
	line-height: 1.6em;
}
	   
em {
	font-weight: bold;
}
		   
	   
P.blocktext {
	margin-left: auto;
	margin-right: auto;
	width: 6em
}

blockquote {
	background-image: url('http://css-tricks.com/examples/Blockquotes/images/openquote1.gif');
	background-position: top left;
	background-repeat: no-repeat;
	border: 2px solid #FFD324;
	border-top: 2px dashed #FFD324;
	border-bottom: 2px dashed #FFD324;
	background-color:  #FFF6BF;
	padding: 5px 70px;
	color: #555555;
	 margin: 20px 350px 40px 20px;

}

#newsarticles {
	margin-left: 20px;
	margin-right: 20px;

}	  

h1 {
	padding: 0px 100px 20px 10px;
	font-size: 700%;
	color: orange;
	font-family: Britannic Bold, sans-serif;
	background: black;

}

h2 {
	margin-bottom: 10px;
}
	
.subheading {
	font-style: italic;
	padding-top: 5px;
	padding-left: 10px;
}	 

h2,h3,h4,h5 {
	line-height: 1.2em;
	font-size: 1.8em;
	margin-top: 2em;
		       
}
		   
a 	{
	text-decoration: none;
}

#mainpage {
	border-top: 10px orange;
	border-bottom: 10px orange;
	border-right: 5px orange;
	border-left: 5px orange;
	border-style: double solid;
}
.Newspics {
	margin-left: 100px;
	margin-top: 100px;
}

.thestories article:not(:first-of-type) {
	padding-top: 160px;
	padding-bottom: 10px;
	border-top: dotted orange;
}

#gowrongstory {
	padding-top: 1px;
}

#pagetitle {
	position: fixed;
	letter-spacing: 2px;
	top: 46%;
	left: 20%;
}

#articlesheading {
	position: fixed;
	width: 100%;
	padding-top: 40px;
	text-align: left;
	padding-bottom: 40px;
	background-color: white;
	z-index: 100;
}

.thestories {
	width: 70%;
	text-align: left;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 120px;
	margin-bottom: 20px;
}

.rightpics {
	width: 400px;
	height: auto;
	float: right;
	padding-left: 100px;
}

.Newspics div{
	float: left;
	height: 200px;
	width: 400px;
	margin-bottom: 90px;
}

.Newspics a {
	font-family: Fira, sans-serif;
	font-weight: bold;
	color: black;
	font-size: 4em;
	line-height: 1.5em;
	text-align: center;
}

.Newspics p {
	opacity: 0;
}

.Newspics p:hover {
	opacity: 1;
	background-color: rgba(255,0,0,.4);
}

#gonewrong {
	background-image: url(img/gonewrong.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

#ipad {
	background-image: url(img/ipad.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

#mnlakes {
	background-image: url(img/marsh.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

#comet {
	background-image: url(img/comet.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

#tardigrade {
	background-image: url(img/tardigrade.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

#bourbonst {
	background-image: url(img/bourbonst.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

#articlesheading h1:hover {
	color: red;
}

ol {
	margin-left: 40px;
	list-style-type: disc;
}

 q {
    display: inline;
}

q:before {
    content: "\201c";
}

q:after {
    content: "\201d";
}

#bourbonststory {
	border-bottom: dotted orange;
}
	